<form [formGroup]="SensorForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrar nuevo Sensor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Marca" formControlName="marca">
            <mat-error *ngIf="SensorForm.controls['marca'].hasError('required')">
              marca es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Fecha Fabricación" formControlName="fechaFabricacion">
          <mat-error *ngIf="SensorForm.controls['fechaFabricacion'].hasError('required')">
            Fecha Fabricación is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Fecha Fin vida útil" formControlName="fechaFinVidaUtil">
          <mat-error *ngIf="SensorForm.controls['fechaFinVidaUtil'].hasError('required')">
            Fecha Fin vida útil es <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
      
      
     
   
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
