<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
  
    <div class="login-form">
        <div class="login-header">
            <h1>Login</h1>
          </div>
          
          <h3>Usuario:</h3>
          <mat-form-field>
            <input type="text" matInput placeholder="Usuario" formControlName="usuario"/>
            <mat-error *ngIf ="loginForm.controls['usuario'].hasError('required')">
            <strong>Requerido</strong>
            </mat-error>
           </mat-form-field>
    <br>
        <h3>Password:</h3>
        <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password"/>
    <mat-error *ngIf ="loginForm.controls['password'].hasError('required')">
        <strong>Requerido</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" type="submit" class="button button-block" class="login-button" mat-input>Iniciar Sesión</button>
    <!-- <br>
    <a class="sign-up">Sign Up!</a>
    <br>
    <h6 class="no-access">Can't access your account?</h6> -->
</div>
    </form>
 
  </div>

  
  <div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <img src="C:\Users\Adriana\Documents\Angular2023\ProyectoHuertasUrbanas\src\app\Imagenes\HU.jpg">
        </div>
    </div>   
  </div>
  

