<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isWeb$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isWeb$ | async) ? 'over' : 'side'"
      [opened]="(isWeb$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="/Login"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "fingerprint" color="primary">fingerprint</mat-icon>Clientes</a> -->
      <a mat-list-item href="/Clientes1"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "fingerprint" color="primary">fingerprint</mat-icon>Clientes1</a>
      <!-- <a mat-list-item href="/tablero"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "sensors" color="primary">sensors</mat-icon>Sensores</a> -->
      <a mat-list-item href="/Sensores1"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "sensors" color="primary">sensors</mat-icon>Sensores1</a>
      <!-- <a mat-list-item href="/formulario"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "library_add_check" color="primary">library_add_check</mat-icon>Solicitudes</a> -->
      <a mat-list-item href="/Solicitudes1"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "library_add_check" color="primary">library_add_check</mat-icon>Solicitudes1</a>
      <!-- <a mat-list-item href="/tabla"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "inventory" color="primary">inventory</mat-icon>Inventario</a> -->
      <a mat-list-item href="/inventario1"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "inventory" color="primary">inventory</mat-icon>Inventario1</a>
      <a mat-list-item href="/Mediciones1"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "inventory" color="primary">inventory</mat-icon>Mediciones1</a>
      <a mat-list-item href="/RegNuevoUsuario"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "inventory" color="primary">inventory</mat-icon>Registro Nuevo Usuario</a>
      <a mat-list-item href="/RegNuevoSensor"><mat-icon  aria-hidden = "falso"  aria-label = "Ejemplo de icono de inicio"  fontIcon = "inventory" color="primary">inventory</mat-icon>Registro Nuevo Sensor</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="Blue-grey">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isWeb$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Proyecto Huertas Urbanas</span>
      <ngx-avatar class="myAvatar" name="Huertas Urbanas"></ngx-avatar>
    </mat-toolbar>
<div class="">
  <router-outlet></router-outlet> 
</div >
  </mat-sidenav-content>
</mat-sidenav-container>
